<header>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://cdn5.f-cdn.com/contestentries/366848/10688121/56e5395903343_thumb900.jpg" width="120" height="60">
    <span style="color: rgb(5, 156, 149);font-weight: 800;">Appointment me</span>
  </a>
</nav>
</header>
<div class="container">
  <h1>Appointment Bookings</h1>
  <router-outlet></router-outlet>
</div>
<footer style="margin-top: 100px;">
<div class="footer-text">
<center><span style="color: black;font-weight: 800; font-size: 30px;">Made By : &nbsp;</span> <span style="color: rgb(20, 139, 139);font-weight: bolder;font-size: 30px;">Rohit Kumar</span> </center>
</div>
</footer>